* {
  box-sizing: border-box;
}

row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

nav {
  top: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  display: flex;
  background-color: #caddc4;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1em;
}

nav a {
  text-decoration: none;
  color: #2525C2;
  padding: 1em 2em;
}

#nav-bar-menu-logo {
  margin-left: 1em;
  height: 3em;
}

nav li {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 1em 0em;
}

nav a:active,
nav a:hover {
  background-color: #AFE29F;
  border-bottom: 5px solid #C2462E;
}

.main {
  margin-top: 5em;
  padding-top: 1.25em;
}

hr.section_break {
  border-top: 8px solid #707070;
  margin: 0;
}

#header_image {
  width: 100%;
}

#map_graphic {
  width: 100%;
}

#mystery_box {
  width: 100%;
}

.body_text {
  font-family: Heebo, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

h1,
h2 {
  font-family: "EB Garamond", serif;
}

.page_heading {
  padding-left: 15%;
  padding-top: 20px;
}

header h1 {
  color: #C2462E;
  font-size: 3em;
}

header h2 {
  color: #297511;
  font-size: 2.5em;
}

.section_header {
  font-size: 2em;
  margin: 0;
}

#possibilities_header {
  text-align: left;
}

#demos_header {
  text-align: center;
}


footer {
  background-color: rgb(122, 107, 84, 0.38);
  margin: -2rem 0;
  font-family: "EB Garamond", serif;
  font-size: 1.5em;
  color: black;
  text-align: center;
  height: 6em;
  font-weight: 600;
  padding: 5rem 0rem;
}

/* Extra small devices (portrait phones less than 576px)
This is the default with mobile first design */

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {}